   .hide{
      display: none;
   }
   .show{
      display:block;
   }

   #content{
      /* border:1px solid #000000; */
      min-height: 1000px;
      background: #ebebeb;
      padding: 10px;
   }





                                             /* basket */

   #content > #subscribed{
      /* display: none; */
      /* border:1px solid #000000; */
      background: #ffffff;
      min-height: 500px;
      width: 940px;
      margin: auto;
      border-radius: 5px;
      /* padding: 15px; */
   }

   #content > #subscribed > .top_profile{
      border:1px solid #989898;
      height: 230px;
      background: #989898;
   }
   #content > #subscribed > .top_profile > .profile_pic{
      height: 92px;
      width: 91px;
      background: #d2d2d2;
      margin-top: 60px;
      margin-left: 123px;
      border-radius: 85px;
      background: url(../img/photo_2024-12-18_18-55-05.jpg);
      background-size: 100% 100%;
   }

   #content > #subscribed > .top_profile > .prof{
      height: 49px;
      width: 92px;
      background: #fafafa;
      margin-top: -67px;
      margin-left: 253px;
      text-align: center;
      line-height: 42px;
      color: #5b5b5b;
   }


   #content > #subscribed > .left_subscribed{
      /* border:1px solid #000000; */
      width: 643px;
      min-height: 300px;
   }
   #content > #subscribed > .left_subscribed> .item{
      /* border:1px solid #000000; */
      height: 185px;
      position: relative;
      margin-bottom:16px;
   }
   #content > #subscribed >.left_subscribed> .item > .image{
      /* border: 1px solid #000000; */
      width: 174px;
      height: 158px;
      position: absolute;
      top: 10px;
      left: 10px;
   }
   #content > #subscribed >.left_subscribed> .item > .image > img{
      width: 100%;
      height: 100%;
   }
   #content > #subscribed >.left_subscribed> .item > .name{
      /* border: 1px solid #000000; */
      max-width: 427px;
      height: 30px;
      position: absolute;
      top: 36px;
      left: 191px;
   }
   #content > #subscribed >.left_subscribed> .item > .Author_dec{
      /* border: 1px solid #000000; */
      max-width: 428px;
      height: 89px;
      position: absolute;
      top: 80px;
      left: 191px;
      color: #5b5b5b;
   }




   #content > .subscribed > .right{
      /* border:1px solid #000000;
      width: 643px;
      min-height: 300px; */
   }







                                                      /* main */



   #content > #main{
      /* border:1px solid #000000; */
      background: #ffffff;
      min-height: 500px;
      width: 940px;
      margin: auto;
      border-radius: 5px;
      padding: 15px;
      
   }
   #content > #main > #top{
      border-bottom:1px solid #989898;
      height: 70px;
      /* margin-left: 20px;
      margin-right: 20px; */
      font-size: 33px;
      line-height: 57px;
      position: relative;
   }
   #content > #main > #top > div{
      position: absolute;
      /* border:1px solid #989898; */
      left: 125px;
      top: 6px;
   height: 50px;
   width: 200px;
   font-size: 23px;
   line-height: 51px;
      cursor: pointer;
   }




   #content > #main > #top > #category{
      left: 36px;
      top: 6px;
      height: 50px;
      width: 81px;
      font-size: 23px;
      line-height: 51px;
   }
   #content > #main > #top > #category:hover{
      color:rgb(247, 140, 46);
   }



                                                /* Author */
      

   #content > #main >#auther_holder{
      /* display: none; */
      border:1px solid #000000;
      min-height: 376px;
   }

   #content > #main >#auther_holder >.Author{
      /* display: none; */
   border-bottom:1px solid #000000; 
   min-height: 400px;
   width: 100%;
   position: relative;
   }
   #content > #main >#auther_holder >.Author > .title{
      /* border: 1px solid #000000; */
      height: 30px;
      width: 120px;
      position: absolute;
      top: 228px;
      left: 287px;
      color: #000000;
      font-size: 24px;
   }

   #content > #main >#auther_holder>.Author > .Author_img{

      margin: 10px;
      left: 39px;
      top: 15px;
      /* border: 1px solid #000000; */
      height: 235px;
      width: 229px;
   }

   #content > #main >#auther_holder>.Author > .Author_img > img{
      width: 100%;
      height: 100%; 
   }

   #content > #main >#auther_holder >.Author > .Author_name{
      margin: auto;
      left: 288px;
      top: 59px;
      /* border: 1px solid #000000; */
      height: 46px;
      min-width: 249px;
      max-width: 500px;
      font-size: 30px;
      text-align: left;
   }

   #content > #main >#auther_holder >.Author > .Author_dec{
      margin: auto;
      left: 93px;
      top: 259px;
      /* border: 1px solid #000000; */
      max-height: 105px;
      min-width: 696px;
      max-width: 843px;
      font-size: 18px;
      text-align: left;
      color: #5b5b5b;
   } 

   #episodes_section {
      padding: 40px;
      
      top: 500px;
      margin-top: 40px;
      width: 70%;
      background-color: #fcfcfc;
   }

   .episodes-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      font-size: 14px;
      color: #666;
   }


   .reverse-btn {
      border: none;
      background: none;
      cursor: pointer;
      font-weight: 500;
   }

   .episode-list {
      list-style: none;
      padding: 0;
      margin: 0;
   }

   .episode-card {
      display: flex;
      align-items: center;
      gap: 14px;
      padding: 14px 0;
      border-bottom: 1px solid #eee;
   }

   .episode-cover {
      width: 56px;
      height: 56px;
      border-radius: 4px;
      flex-shrink: 0;
   }

   .placeholder {
      background: #fff;
      border: 1px solid #ddd;
   }

   #Author_img2 {
      width: 100%;
      height: 100%;
   }


   .episode-info {
      flex: 1;
   }

   .episode-title {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 6px;
      color: #222;
   }

   .episode-meta {
      font-size: 12px;
      color: #888;
      display: flex;
      gap: 10px;
   }

   .play-btn {
      font-size: 18px;
      color: #ff6700;
      cursor: pointer;
      user-select: none;
   }




                                                      /* main bord */


   #content > #main > #top > div{
      position: absolute;
      /* border:1px solid #989898; */
      left: 125px;
      top: 6px;
   height: 50px;
   width: 200px;
   font-size: 23px;
   line-height: 51px;

   }



   #content > #main > .botton{
      /* border:1px solid #989898; */
      min-height: 400px;
      display: flex;
      justify-content: center;
      position: relative;
   }










   /* category_butten */



   #content > #main > .botton > .category_butten{
      
      border:1px solid #cccccc; 
      height: 38px;
      width: 155px;
      background: url(../img/chevron-down-regular-36.png) no-repeat 100% 50%; 
      margin-left: 20px;
      margin-top: 10px;
      position: relative;
      border-radius: 4px;
      line-height: 36px;
      cursor: pointer;
   }  
   
   #content > #main > .botton >  .category_butten:hover{
      border:1px solid rgb(249, 130, 26); 
   }  
   
   #content > #main > .botton >  .category_butten > .category_menu{
      visibility: hidden;
      border:1px solid #000000;
      min-height: 90px;
      width: 170px;
      left:2px;
      top:39px;
      width: 148px;
      background: #ffffff;
      position: absolute;
      z-index: 1200;
      border-radius: 4px;
      overflow: auto;
      text-align: left;
   }
   #content > #main > .botton > .category_butten:hover > .category_menu {
      visibility: visible;
      border:1px solid #000000;
      min-height: 90px;
      width: 170px;
      left:2px;
      top: 39px;
      width: 148px;
      background: #ffffff;
      position: absolute;
      z-index: 1200;
      border-radius: 4px;
      overflow: auto;
      text-align: left;
   }
   #content > #main > .botton > .category_butten > .category_menu > div{
      height: 30px;
      text-align: left;
      color: #5b5b5b;
      line-height: 33px;
   }
   #content > #main > .botton > .category_butten > .category_menu > div:hover{
      color: #ffffff;
      background: rgb(249, 130, 26); ;
   }
                                          
               










                                    /* right */




   #content > #main > .botton > #right{
      
      border-left:1px solid #989898;
      width:300px;
   min-height: 300px;
   }

   #content > #main > .botton > #right > .flag-a{ 
      
      /* border:1px solid #989898; */
      /* width:30px; */
      height: 80px;
      background: url(../img/19fd024f1fa0d92ce80cd72cfe.png) no-repeat  20% 50%;
      background-size: 50%;
      cursor: pointer;
      margin-left: 10px;
   }
   #content > #main > .botton > #right > .flag-a > .mtn{ 
      
      /* border: 1px solid #989898; */
      width: 84px;
      height: 80px;
      margin-left: 189px;
      text-align: center;
      line-height: 26px;
      color: #5b5b5b;
   }


   #content > #main > .botton > #right > .flag-b{ 
      
      border-bottom:1px solid #989898;
      /* width:30px; */
      height: 80px;
      background: url(../img/605a1c40698998c6ff2ba624ea.png) no-repeat  20% 50%;
      background-size: 50%;
      cursor: pointer;
      margin-left: 10px;
   }
   #content > #main > .botton > #right > .flag-b > .mtn{ 
      
      /* border: 1px solid #989898; */
      width: 84px;
      height: 80px;
      margin-left: 189px;
      text-align: center;
      line-height: 26px;
      color: #5b5b5b;
   }



                                       /* left */

   #content > #main > .botton > #left{
      width: 633px;
      min-height: 300px;
      margin-top: 66px;
      margin-left: -182px;
   }



   #content > #main > .botton > #left > .item{
      height: 130px;
      /* border:1px solid #989898; */
      display: flex;
      position: relative;
   }
   
   #content > #main > .botton > #left > .item > .number {
      height:100%;
      width: 40px;
      /* border:1px solid #989898;  */
      /* margin-left: 30px; */
      line-height: 130px;
      font-size: 23px;
   }
   #content > #main > .botton > #left > .item > .image {
      height:80px;
      width:90px;
      /* border:1px solid #989898; */
      border-radius: 5px; 
      margin-top: 26px;
      /* background-size: 100%; */
      cursor: pointer;
   }

   #content > #main > .botton > #left > .item > .image > img {
      width: 100%;
      height: 100%;
   }
   #content > #main > .botton > #left > .item > .add {
      position: absolute;
      left: 570px;
      top: 50px;
      height: 35px;
      width: 33px;
      background: url(../img/Untitled.png);
      background-size: 100% 100%;
      border: 1px solid #989898;
      border-radius: 18px;
      /* margin-left: 244px;
      margin-top: 45px; */
      cursor: pointer;
   }

   
   #content > #main > .botton > #left > .item > .info {
      margin-left: 20px;
      height:100%;
      min-width: 40px;
      max-width: 200px;
      /* border:1px solid #989898;  */
   }
   #content > #main > .botton > #left > .item > .info > .name {
      height:20px;
      min-width: 40px;
      max-width: 200px;
      /* border:1px solid #989898;  */
      margin-top: 40px;
   }
   #content > #main > .botton > #left > .item > .info > .writer {
      height:20px;
      min-width: 40px;
      max-width: 200px;
      margin-top: 17px;
      /* border:1px solid #989898;  */
   }
    



  /* sound player  */
   
.audio-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.audio-modal.show {
  display: flex;
}

.audio-box {
  width: 350px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close-audio {
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}
