body{
    margin: 0;
}
.hide{
    display: none;
}
#header{

    height: 49px;
    border-bottom:2px solid  #e87014; 
    display: flex;
    justify-content: center;
    
}
#header > div{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 80px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    padding-left: 4px;
}
#header > div:hover{
    /* color: #e87014; */
}
#header > #searhh{
    width: 50px;
    background: url(../img/search-regular-36\(2\).png) no-repeat 50% 50%;
    background-size: 67%;
    margin-left: 310px;
    position: relative;
}
#header > #searhh > input {
        /* direction: rtl; */
        margin: auto;
        margin-top: 9px;
       display: none;
       width: 90%;
      border: 0 none;
      outline: 0 none;
      color: #000000;
      /* background: rgba(245,246,248,1); */
      /* background: #061f33;  */
      background: url(../img/search-regular-36\(2\).png) no-repeat 1% 50%;
        background-size: auto;
      background-size: 30px;
      padding: 10px;
      /* border-radius: 75px; */
      font-size: 12px;
      text-indent: 47px;
      position: relative;
      z-index: 500;
      cursor: pointer;
}


#header > #searhh > #result {
    display: none;
    position: absolute;
    top: 49px;
    right: 20px;
    width: 80%;
    min-height: 200px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    z-index: 50;
    overflow: auto;
    cursor: pointer;
    box-shadow: 0px 11px 15px 8px #e1e1e1;
}
#header > #searhh > #result > #search_of {
  
    width: 80%;
   min-height: 40px;
   margin-left: 20px;
   position: relative;
   text-align: left;
   color: #8d8d8d;
}

/* #header > #searhh > #result > #search_of > div {
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    left: -17px;
    top: 12px;
    width: 59px;
    height: 66%;
    line-height: 20px;
    color: #868686;
   z-index: 200;
} */

#header > #searhh > #result > #search_show {
   max-height: 350px;
    width: 100%;
    height: 40px;
   
}
#header > #searhh > #result > #search_show > div {
     width: 100%;
     height: 40px;
     /* background: rgba(221, 221, 221, 0.95); */
     margin-top: 5px;
 }
 
 #header > #searhh > #result > #search_show > div:hover {
    background: #e87014;
    color: rgb(255, 255, 255);
}




#header > #logo{
     width: 130px;
     background: url(../img/castbox_logo-text.png) no-repeat 40% 50%;
     background-size: 80%;

}
#header > #cloud{
    width: 80px;
    background: url(../img/clud.png) no-repeat 50% 50%;
     background-size: 52%;
 }

 #header > #zang{
    width: 70px;
   background: url(../img/zang.svg) no-repeat 50% 50%;
  background-size: 50%;
 }
 #header > #besket{
    width: 70px;
   background: url(../img/Untitled.png) no-repeat 50% 50%;
  background-size: 50%;
 }

 #header > #clos{
    display: none;
    width: 33px;
   background: url(../img/x-regular-36-2.png) no-repeat 50% 50%;
  background-size: 100%;
 }

 #header > #listen:hover{color: #e87014;}
 #header > #Top_Shows:hover{color: #e87014;}
 #header > #Blog:hover{color: #e87014;}